<div class="container mt-4 text-white">
  <h2>Agregar Película</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="exito" class="alert alert-success">{{ exito }}</div>

  <form (ngSubmit)="agregarPelicula()">
    <div class="mb-3">
      <label class="form-label">Título</label>
      <input type="text" [(ngModel)]="pelicula.titulo" name="titulo" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Sinopsis</label>
      <textarea [(ngModel)]="pelicula.sinopsis" name="sinopsis" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Año</label>
      <input type="number" [(ngModel)]="pelicula.anio" name="anio" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Portada</label>
      <input type="text" [(ngModel)]="pelicula.portada" name="portada" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Agregar</button>
  </form>
</div>
